@import "_structure.less";

// conference specific styles here

// often configured values (and their defaults):
//

@body-bg: 		black;
@brand-primary:         #1B2AFA; // blue

@navbar-default-color:  #2BFC30; // green
@navbar-default-bg:     black;

@navbar-default-link-hover-color: red;

@table-border-color:	red;

@highlight:             #b6cd5d;
@background:            #251c16;
@text-color:            #ffffff;

@link-color:            #2BFC30;
@panel-bg:              #222222;
@well-bg:               @panel-bg;
@panel-primary-border:  #FFFFFF;
@panel-default-heading-bg: #333333;
@panel-default-text:    #FFFFFF;

@navbar-default-link-color: #FFFFFF;

@nav-link-hover-bg:     #000000;


.banner {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}




// colors of the schedule ("Fahrplan") widget below the video-player
//
//  @schedule-now:       @brand-danger;
//  @schedule-now-bg:    fade(lighten(@brand-danger, 5%), 60%);
//  @schedule-border:    lighten(@brand-primary, 50%);
//
//  @schedule-room:      darken(@brand-primary, 15%);
//  @schedule-author:    #444;
//
//  @schedule-selected-room: lighten(@brand-success, 10%);
//
//  @schedule-daychange:    darken(@brand-primary, 20%);
//  @schedule-daychange-bg: fade(white, 30%);
//
//  @schedule-gap:          darken(@brand-primary, 20%);
//  @schedule-gap-bg:       fade(white, 30%);
//
//  @schedule-pause:        white;
//  @schedule-pause-bg:     lighten(black, 85%);
